USE [master]
GO
/****** Object:  Database [OneTableMuch]    Script Date: 14.04.2021 20:32:57 ******/
CREATE DATABASE [OneTableMuch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OneTableMuch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OneTableMuch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OneTableMuch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OneTableMuch_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OneTableMuch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OneTableMuch]
GO
/****** Object:  Table [dbo].[MuchTable]    Script Date: 14.04.2021 20:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuchTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[At1] [nvarchar](50) NOT NULL,
	[At2] [nvarchar](50) NOT NULL,
	[At3] [int] NOT NULL,
	[At4] [int] NOT NULL,
	[at5] [int] NOT NULL,
	[at6] [int] NOT NULL,
	[at7] [int] NOT NULL,
	[at8] [int] NOT NULL,
	[at9] [int] NOT NULL,
	[at10] [int] NOT NULL,
	[at11] [int] NOT NULL,
	[at12] [int] NOT NULL,
	[at13] [int] NOT NULL,
 CONSTRAINT [PK_MuchTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MuchTable] ON 

INSERT [dbo].[MuchTable] ([id], [At1], [At2], [At3], [At4], [at5], [at6], [at7], [at8], [at9], [at10], [at11], [at12], [at13]) VALUES (1, N'1', N'1', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[MuchTable] ([id], [At1], [At2], [At3], [At4], [at5], [at6], [at7], [at8], [at9], [at10], [at11], [at12], [at13]) VALUES (2, N'1', N'1', 1, 1, 1, 1, 115, 5, 2, 1, 5, 10, 5)
INSERT [dbo].[MuchTable] ([id], [At1], [At2], [At3], [At4], [at5], [at6], [at7], [at8], [at9], [at10], [at11], [at12], [at13]) VALUES (3, N'1', N'2', 22, 222, 22, 22, 222, 2, 2, 2, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[MuchTable] OFF
USE [master]
GO
